{% extends "base.html" %}

{% block body %}

<h1 class="title">Device ARN</h1>
<h2 class="subtitle">Save the device ARNs <code>device-arn</code></h2>
<pre>{{ arn }}</pre>
<br></br>

<h1 class="title">IoT Endpoint</h1>
<h2 class="subtitle">Save this file as <code>iot-endpoint</code></h2>
<pre>{{ endpoint }}</pre>
<br></br>

<h1 class="title">Certificate</h1>
<h2 class="subtitle">Save this file as <code>cert.crt</code></h2>
<pre>{{ cert.pem }}</pre>
<br></br>

<h1 class="title">Private Key</h1>
<h2 class="subtitle">Save this file as <code>key</code></h2>
<pre>{{ privkey }}</pre>
<br></br>

<h1 class="title">Public Key</h1>
<h2 class="subtitle">Don't worry about this unless you know what you're doing</h2>
<pre>{{ pubkey }}</pre>

{% endblock %}
