{% extends "base.html" %}

{% block body %}
<div class="columns">
  <div class="column is-narrow" style="width: 300px;">
    <form action="{{ url_for('device.register') }}" method="post" accept-charset="utf-8">
      <div class="field">
        <label class="label">Device Nickname</label>
        <input class="input" type="text" name="device_name" id="device_name" value=""
        minlength="{{ g.device_name_validator.min }}" required />
      </div>
      <div class="field">
        <div class="control">
          <input class="button is-link" type="submit">
{% if g.user.client.is_admin %}
          <a class="button" href="{{ url_for('device.from_arn') }}">Register From ARN</a>
{% endif %}
        </div>
      </div>
    </form>
  </div>
  <div class="column">
    <h1 class="title">Please enter the username for your new device.</h1>
    <p>
      Once you submit your request, we will generate a certificate
      and private key and associate it with our servers. When you have your new
      cert and key, these should be added to a flash drive with the
      <code>fat32</code> filesystem, with the filenames listed:
    </p>
    <ul>
      <li>Certificate: <code>cert.crt</code></li>
      <li>Key: <code>key</code></li>
    </ul>
    <p>
      Once you have the files on the flash drive, they should be able to be
      plugged into the device and, after a reboot, work in about 30 seconds.
    </p>
  </div>
</div>
{% endblock %}
