{% extends "base.html" %}

{% block body %}
<h1 class="title">Log In to Manage Devices</h1>
{% if g.user is not none %}
<h3 class="subtitle has-text-danger">You are already logged in as: {{ g.user.username }}</h3>
{% endif %}
<div class="column is-narrow" style="width: 300px;">
  <form action="{{ url_for('auth.login') }}" method="post" accept-charset="utf-8">
    <div class="field">
      <label class="label"><u>U</u>sername</label>
      <input class="input" type="text" name="username" id="username" value="" accesskey="u" autofocus />
    </div>
    <div class="field">
      <label class="label"><u>P</u>assword</label>
      <input class="input" type="password" name="password" id="password" value="" accesskey="p"/>
    </div>
    <div class="field">
      <div class="control">
        <input class="button is-link" type="submit" accesskey="s">
      </div>
    </div>
  </form>
</div>
{% endblock %}
