{% extends "base.html" %}

{% block script %}
<script charset="utf-8">
let client_name = $("input[name=client_username]").parent();
let input = $("input[name=i-am]");
$("input[name=i-am]").on("change", (ev)=> {
  if (ev.currentTarget.value == "user") {
    client_name.show();
  } else if (ev.currentTarget.value == "client") {
    client_name.hide();
  }
});
$(document).ready(()=> {
  if (input.value == "client") {
    client_name.hide();
  }
})
</script>
{% endblock %}

{% block body %}
<h1 class="title">Please enter your registration information below.</h1>
{% if g.user is not none %}
<h3 class="subtitle has-text-danger">You are already logged in as: {{ g.user.username }}</h3>
{% endif %}
<div class="column is-narrow" style="width: 300px;">
  <form action="{{ url_for('auth.register') }}" method="post" accept-charset="utf-8">
    <div class="field">
      <label class="label"><u>U</u>sername</label>
      <input class="input" type="text" name="username" id="username" value=""
       minlength="{{ g.username_validator.min }}" required accesskey="u"
       maxlength="{{ g.username_validator.max }}" autofocus />
    </div>
    <div class="field">
      <label class="label"><u>P</u>assword</label>
      <input class="input" type="password" name="password" id="password" value=""
       minlength="{{ g.password_validator.min }}" required accesskey="p"
       maxlength="{{ g.password_validator.max }}"/>
    </div>
{% for value in g["i-am_validator"].options %}
    <div class="field">
      <label class="radio">
        <input type="radio" value="{{ value }}" name="i-am" checked />
        I am a {{ value | capitalize }}
      </label>
    </div>
{% endfor %}
    <div class="field">
      <label class="label">Client Username</label>
      <input class="input" type="text" name="client_username"
             id="client_username" value="" />
    </div>
    <div class="field">
      <div class="control">
        <input class="button is-link" type="submit">
      </div>
    </div>
  </form>
</div>
{% endblock %}
