{% extends "base.html" %}

{% block body %}
<form action="{{ url_for("group.index") }}" method="post" style="width: 300px;">
  <div class="field">
    <label class="label">New Group Name</label>
    <input class="input" type="text" name="name_or_arn" id="group" value=""
      minlength="{{ g.name_or_arn_validator.min }}" required autofocus>
  </div>
{% if g.user.client.is_admin %}
{% for type in g.group_type_validator.options %}
  <div class="field">
    <label class="radio">
      <input type="radio" value="{{ type }}"
        name="{{ g.group_type_validator.name }}"
        id="{{ g.group_type_validator.name }}" checked>
      Group {{ type }}
    </label>
  </div>
{% endfor %}
{% else %}
  <input type="hidden" value="name" name="{{ g.group_type_validator.name }}" />
{% endif %}
  <div class="field">
    <div class="control">
      <input class="button is-link" type="submit">
    </div>
  </div>
</form>
<hr>
<table class="table is-fullwidth is-bordered is-striped">
  <thead>
    <tr>
      <th>Group Name</th>
      <th>Group ARN</th>
      <th>Devices In Group</th>
      <th style="width: 10px"></th>
    </tr>
  </thead>
  <tbody>
{% for group in groups %}
    <tr>
      <th>{{ group.name }}</th>
      <td>{{ group.arn | miniarn }}</td>
      <td>{{ group.devices | length }}</td>
      <td style="text-align: right">
        <a class="button" href="{{ url_for(
          "group.manage", arn=miniarn(group.arn)) }}">Manage</a>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
