{% extends "base.html" %}

{% block body %}
<h1 class="title">Manage Devices</h1>
<h3 class="subtitle">for group {{ group.name }}</h3>
<form action="{{ url_for("group.manage", arn=arn) }}" method="post" style="width: 300px;">
{% for device in devices %}
  <div class="field">
    <label class="checkbox">
      <input type="checkbox" name="dev_{{ device[0].name }}" value="1"
{%- if device[1] == true %} checked{% endif %}>
      {{ device[0].name }}
    </label>
  </div>
{% endfor %}
  <div class="field">
    <div class="control">
      <input class="button is-link" type="submit">
      <a class="button" href="{{ url_for("group.index") }}">
        Back
      </a>
    </div>
  </div>
</form>
{% endblock %}
