FLASK_ENV="{{ noticast_web.stage }}"
FLASK_APP="noticast_web"

SECRET_KEY="{{ noticast_web.secret_key }}"
DEBUG="{{ noticast_web.stage == "development" }}"

SQLALCHEMY_DATABASE_URI="{{ noticast_web.sqlalchemy_db_uri }}"

AWS_DEFAULT_REGION="{{ noticast_web.aws[0].region }}"
AWS_ACCESS_KEY_ID="{{ noticast_web.aws[0].access_key }}"
AWS_SECRET_ACCESS_KEY="{{ noticast_web.aws[0].secret_key }}"

SENTRY_DSN="{{ noticast_web.sentry_dsn }}"
