<!DOCTYPE HTML>
<!-- vim:set et sw=2 ts=2 ft=htmldjango: -->
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bulma/css/bulma.min.css') }}">
    <title>NotiCast</title>
    <style>
    /* Bulma CSS override */
    footer.footer {
      margin-top: 2rem;
    }
    section.section {
      padding-bottom: inherit;
    }
    secton.section:last-type {
      padding-bottom: 3.5rem;
    }
    a.para {
      color: rgba(0, 0, 0, 0.23);
    }
    </style>
  </head>
  <body>
    <nav class="navbar has-background-white-ter" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
{% if session.client_id %}
        <a class="navbar-item" href="/" accesskey="n"><u>N</u>otiCast // {{ g.user.username }}</a>
{% else %}
        <a class="navbar-item" href="/" accesskey="n"><u>N</u>otiCast</a>
{% endif %}
      </div>
      <div class="navbar-menu">
        <a class="navbar-item" href="{{ url_for('auth.login') }}" accesskey="l"><u>L</u>og In</a>
        <a class="navbar-item" href="{{ url_for('auth.register') }}" accesskey="r"><u>R</u>egister</a>
{% if session.client_id %}
        <a class="navbar-item" href="{{ url_for('device.register') }}" accesskey="d">Add&nbsp;<u>D</u>evice</a>
        <a class="navbar-item" href="{{ url_for('group.index') }}" accesskey="g">Manage&nbsp;<u>G</u>roups</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Developer Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{ url_for('docs.index') }}">Documentation</a>
            <hr class="navbar-divider">
{% for page in docs_pages %}
            <a class="navbar-item"
              href="{{ url_for('docs.page', page=page) }}">
              {{ page | capitalize }}</a>
{% endfor %}
          </div>
        </div>
        <div class="navbar-end">
          <a class="navbar-item"
             href="{{ url_for('auth.logout') }}" accesskey="o">Log&nbsp;<u>O</u>ut</a>
        </div>
{% endif %}
      </div>
      <script charset="utf-8">
        $("nav.navbar a").each(function() {
          if ($(this).attr("href") == window.location.pathname)
            $(this).addClass("is-active");
        });
      </script>
    </nav>
{% with messages = get_flashed_messages(category_filter=["notification"]) %}
{% if messages %}
    <section class="section">
      <div class="container">
{% for message in messages %}
{% set message_values = message.split("|") %}
        <div class="notification is-{{ message_values[1] }}">
          <button class="delete"></button>
          {{ message_values[0] }}
        </div>
{% endfor %}
      </div>
    </section>
{% endif %}
{% endwith %}
    <section class="section" id="dev-mode-message">
      <div class="container">
        <article class="message">
          <div class="message-header">
            <p>Hello, {{ g.user.username }}</p>
            <button class="delete close" data-target="#dev-mode-message"></button>
          </div>
          <div class="message-body">
            This software, as well as NotiCast in general, is a project that is
            under active development. Things might change often, but will
            attempt to remain consistent to protect user experience. If you
            encounter something you think might be an issue, do not hesitate
            to message the developers - it likely is an issue.
          </div>
        </article>
      </div>
    </section>
    <section class="section">
      <div class="container">
        {% block body %}{% endblock %}
      </div>
    </section>
    <script>
      { // Handle closing out of notifications
        let elem = $("button.delete");
        let count = elem.length;
        elem.click(function() {
          $(this).parent("div.notification").remove();
          if (--count == 0) {
            $("section.notifications").remove();
          }
        });
      }
      $("button.copy").click(function() {
        let $this = $(this);
        let $target = $($this.data("target"));
        let input_elem = $("<input>");
        $("body").append(input_elem);
        input_elem.val($target.text()).select();
        document.execCommand("copy");
        input_elem.remove();
      });
      $("button.close").click((e)=> $($(e.currentTarget).data("target")).remove());
      $("[id]").filter(":header").each(function() {
        // Put a paragraph symbol against any header with an ID, which can link
        // to the ID of the header
        let $this = $(this);
        let elem = $("<a>");
        elem.attr("href", "#" + $this.attr("id"));
        elem.addClass("para");
        elem.html(" &para;");
        $this.append(elem);
        console.log(elem);
      })
    </script>
    {% block script %}{% endblock %}
    <footer class="footer">
      <div class="content">
        <p>
          <b>NotiCast</b> - A product from Sunny P Smith, Inc.
        </p>
      </div>
    </footer>
  </body>
</html>
