{% extends "base.html" %}

{% block body %}
{% if session.client_id %}
<table class="table is-fullwidth is-bordered is-striped">
  <thead>
    <tr>
      <th>Device Name</th>
      <th>Device ARN</th>
      <th style="width: 10px"></th>
    </tr>
  </thead>
  <tbody>
    {% for device in devices %}
    <tr>
      <th>{{ device.name }}</th>
      <td>{{ device.arn }}</td>
      <td style="text-align: right">
        <a class="button" href="{{ url_for(
            "device.new_cert", arn=device.arn.split("/")[-1]) }}">
          Regen Credentials
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<div class="columns">
  <div class="column">
    <!-- Left Column -->
    <p>
      <b>Hello!</b> Welcome to NotiCast - a broadcasting system for sending
      notifications. Below, you can see some helpful resources:
    </p>

    <ul>
      <li><a href="https://github.com/NotiCast/pylon-example" target="_blank">Pylons</a> - How we (and you!) send notifications to devices.</li>
      <li>i dunno what else lol</li>
    </ul>
    <h2 class="title is-h2">What is NotiCast?</h2>
    <p>
      NotiCast is a system that enables seamless text-to-speech notifications
      with no human interaction required. It can be useful for ongoing
      notifications without the hassle of having to communicate with the
      device.
    </p>
    <p>
      With NotiCast, you can make interaction with notifications more seamless.
      Your phone doesn't make you click a notification to see the content, it
      just shows you it. You can hook up anything to NotiCast, such as custom
      monitoring software, incoming emails, and even a system to tell you a bad
      joke every 15 minutes.
    </p>
  </div>
  <div class="column">
    <!-- Right column -->
    <h3 class="title is-3">Enabling your NotiCast Device</h3>
    <h5 class="title is-5 has-text-info">
      Skip these steps if you have your flash drive ready to go.
    </h5>
    <p>
      When you receive your NotiCast device, it should already have the
      software installed. If the device provider has not already provided
      you with a flash drive containing your authentication credentials,
      or if you lose this flash drive, you will need to set up a new drive.
      Assuming you have requested and received credentials from the
      provider, you can follow the steps below to set up a new flash drive.
    </p>
    <hr>
    <ol>
      <li>Plug in the flash drive and ensure that the filesystem is fat32</li>
      <ul>
        <li>
          On Windows, you can
          <a href="https://www.onmsft.com/news/how-to-format-a-storage-drive-in-windows-10" target="_blank">reformat</a>
          to change filesystem
        </li>
        <li>On MacOS, you can use the "Disk Utility" program to erase and format</li>
      </ul>
      <li>Log in to the application and create a new device</li>
      <ul>
        <li>You can skip this step if you just want to remake credentials</li>
      </ul>
      <li>Click the "Regen Credentials" button for the relevant device</li>
      <li>Copy the <code>cert.crt</code> and <code>key</code> files to the flash drive</li>
      <li>Plug the new flash drive into the device</li>
      <li>Boot (or reboot) your system and play a test message</li>
    </ol>
  </div>
</div>
{% endblock %}
