{% extends "base.html" %}

{% block body %}
<h1 class="title">You are not authorized to view this resource.</h1>
<h3 class="subtitle">If you are not logged in, please log in to continue.</h3>
<div class="columns">
  <div class="column">
    <p>
      If you think you should have access to this resource, please talk to the
      client associated with your account. If your client has this error as
      well, further support might be required.
    </p>
  </div>
  <div class="column"></div>
</div>
{% endblock %}
